* {
    box-sizing: border-box;
}

.Layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.Layout header nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 24px;
    position: relative;
}

.logo-holder {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    height: auto;
    max-width: 100px;
    padding: 0 !important;
}

.menu-bar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

.link-bar {
    display: flex;
    gap: 35px;
    align-items: center;
    padding-right: 15px;
}

.link-bar a,
.link-bar span,
.logout-link {
    font-size: 1rem;
    white-space: nowrap;
    color: #0066cc;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
}

.link-bar a:hover,
.logout-link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
    color: #004499;
}

.search-holder {
    display: flex;
    align-items: center;
    gap: 6px;
    min-width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.search-icon {
    font-size: 2rem;
    color: #555;
    padding-left: 8px;
}

.search-input {
    outline: none;
    border: none;
    width: 100%;
    padding: 10px 12px;
    font-size: 0.9rem;
    transition: 0.2s;
}

.search-input.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.search-holder:hover {
    border-color: #0066cc;
    box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.2);
    transition: all 0.5s ease;
}

.cart-holder {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cart-icon {
    font-size: 24px;
    color: #0066cc;
    transition: 0.2s;
}

.cart-icon:hover {
    transform: scale(1.1);
    color: #333;
}

.cart-quantity {
    position: absolute;
    top: -12px;
    right: 0px;

    width: 18px;
    height: 18px;
    border: 1px solid #0066cc !important;
    color: #0066cc !important;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 10px;

    line-height: 1;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 24px;
    flex: 1;
}

footer {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-top: 1px solid #eaeaea;
    background-color: #e3e1e1;
    font-size: 0.85rem;
    color: #666;
}

@media (max-width: 768px) {
    .Layout header nav {
        flex-direction: column;
        align-items: stretch;
        gap: 5px;
        padding: 5px;
    }

    .logo-holder {
        justify-content: center;
    }

    .logo {
        max-width: 70px
    }

    .menu-bar {
        flex-direction: column;
        align-items: stretch;
        gap: 16px;
    }

    .link-bar {
        justify-content: center;
        gap: 10px;
    }

    .search-holder {
        max-width: 100%;

    }
}

@media (max-width: 480px) {
    .link-bar {
        gap: 10px;
        justify-content: center;
        padding-left: 10px;
    }

    .link-bar a,
    .link-bar span,
    .logout-link {
        font-size: 13px;
    }

    .cart-icon {
        font-size: 20px;
    }

    .cart-quantity {
        width: 14px;
        height: 14px;
        font-size: 9px;
        top: -8px;
    }
}

.user-icon-holder {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 12px;
    border-radius: 30px;
}

.user-icon {
    font-size: 1.4rem;
    color: #0066cc;
}